/* Color scheme */
/* 
    #7cad5c -> green
    #523223 -> brown
    #DCDBC9 -> gray
    
*/

@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "Roboto", "sans-serif";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
  font-family: "Roboto", "sans-serif";
  font-weight: bold;
  font-style: normal;
}

html,
body {
  background-color: #dcdbc9;
  font-family: "Roboto";
}

/* 
  ======================================
  Start Customized components
  ====================================== 
*/

.btn-styled {
  background-color: #7cad5c;
  color: #523223;
  text-transform: capitalize;
  transition: background-color 0.4s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  width: 20%;
  padding: 1%;
  border-style: none;
  border-radius: 2%;
  filter: drop-shadow(1px 2px 5px #575252);
  margin: auto;
}

.btn-styled:hover {
  background-color: #74cf37;
  color: #523223;
}

.section-my {
  margin: 70px 0px;
}
/*End Customized components*/

/*
  ======================================
  Start Header and Nav styles 
  ======================================
*/

.navbar .navbar-brand {
  margin-right: 5rem;
}

.navbar .navbar-brand img {
  filter: drop-shadow(1px 1px 4px #757070);
  width: 75px;

  transition: filter 0.2s ease-in-out;
}

.navbar .navbar-brand img:hover {
  filter: drop-shadow(1px 2px 5px #575252);
}

/* Start Overwrite bootstrap classes */
.navbar-nav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  font-size: 1.5em;
  font-weight: bold;
  color: #7cad5c;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active:hover {
  color: #74cf37;
}

.navbar-light .navbar-toggler {
  background-color: #7cad5c;
  height: 75px;
  width: 75px;
  transition: background-color 0.5s ease-in-out;
}

.navbar-light .navbar-toggler:hover {
  background-color: #74cf37;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* End overwrite bootstrap classes */

/* End Header and Nav styles */

/*
  ======================================
  Start Hero section styles
  ======================================
*/

.hero {
  background-color: #7cad5c;
}

.hero .hero-subsection-left .heading {
  color: #523223;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  margin: 0px;
}

.hero .hero-subsection-left .subheading {
  color: #523223;
  font-weight: bold;
  margin: 5px 0px 40px;
  font-size: 1rem;
  text-transform: capitalize;
}

.hero .hero-subsection-left .name {
  background-color: #523223;
  text-transform: capitalize;
  position: relative;
  width: 50%;
  padding: 10px;
  margin: 0px auto;
  border-radius: 0.7rem;
}

.hero .hero-subsection-left .name p {
  color: #7cad5c;
  font-weight: bold;
  padding: 10px;
  margin: 0px;
  font-size: 1rem;
}

.hero .hero-subsection-left .name .bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background-color: #7cad5c;
  bottom: 0%;
}

.hero .hero-subsection-left .name .bullet.top {
  top: 0%;
}

.hero .hero-subsection-left .name .bullet.top.left {
  top: 0%;
  left: -1%;
}

.hero .hero-subsection-left .name .bullet.top.right {
  top: 0%;
  right: -1%;
}

.hero .hero-subsection-left .name .bullet.bottom {
  bottom: 0%;
}

.hero .hero-subsection-left .name .bullet.bottom.left {
  bottom: 0%;
  left: -1%;
}

.hero .hero-subsection-left .name .bullet.bottom.right {
  bottom: 0%;
  right: -1%;
}

/*
  ======================================
  Start Facts section styles
  ======================================
*/

.facts header {
  color: #523223;
  font-size: 2rem;
  text-transform: capitalize;
}

.facts header .number {
  font-size: 3rem;
  font-weight: bold;
  color: #7cad5c;
}

.facts .facts-subsection {
  background-color: #7cad5c;
  margin: 5% 0%;
}

.facts .facts-subsection .facts-subsection-left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #523223;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  padding: 10% 0%;
}

/*
  ======================================
  Start Favorite-colors section styles
  ======================================
*/

.favorite-colors header p {
  text-transform: capitalize;
  color: #523223;
  font-size: 2.5rem;
  font-weight: bold;
}

.favorite-colors .color {
  color: #ffffff;
  font-weight: bold;
  min-width: 200px;
}

.colors {
  justify-content: center;
  align-items: center;
}

.favorite-colors-subsection .color {
  margin: 10% 20%;
  text-align: center;
  padding: 4%;
}

.favorite-colors .color.green {
  background-color: #7cad5c;
}

.favorite-colors .color.orange {
  background-color: #f39c12;
}

.favorite-colors .color.brown {
  background-color: #523223;
}

.favorite-colors .color.blue {
  background-color: #3498db;
}

/*
  ======================================
  Start Still-curious section styles
  ======================================
*/

.still-curious header div {
  text-transform: capitalize;
  color: #523223;
  font-size: 2.5rem;
  font-weight: bold;
}

.still-curious header p {
  color: #7cad5c;
  font-weight: bold;
  margin: 0% 0% 1% 0%;
  font-size: 0.8rem;
  padding: 0% 5%;
}

.still-curious .still-curious-subsection .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.still-curious .still-curious-subsection p {
  text-align: center;
  padding: 10%;
  line-height: 2rem;
  color: #523223;
  font-size: 1rem;
  font-weight: bold;
}

.still-curious .still-curious-subsection .change-flip {
  flex-direction: row-reverse;
  background-color: #7cad5c;
}

/*
  ======================================
  Know-more section styles
  ======================================
*/

.know-more p {
  color: #523223;
  font-size: 1.3rem;
}

.know-more .btn-hobbies {
  margin: 2% 0%;
}

.know-more .btn-hobbies a {
  border-radius: 0.2rem;
  padding: 1rem;
}

/*
*****************
Hobbies page
*****************
*/

/*
  ======================================
  Hobbies section styles
  ======================================
*/

.hobbies-header h1,
.contact-header h1,
.gallery-header h1 {
  color: #523223;
  font-weight: bold;
  margin: 0%;
  text-transform: uppercase;
}

.hobbies-header p,
.contact-header p,
.gallery-header p {
  color: #7cad5c;
  font-weight: normal;
  font-size: 1.4rem;
  margin: 2% 0%;
}

.hobbies {
  background-color: #7cad5c;
  margin: 7% 0%;
}

.hobbies .frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  position: relative;
}

.hobbies .frame .img-container {
  background-color: #523223;
  padding: 10%;
}

.hobbies .frame .text-container {
  position: absolute;
  left: 30%;
  bottom: 2%;
  color: #7cad5c;
  margin: 2% 0%;
  font-weight: bold;
}

.hobbies .description {
  text-align: center;
  margin: 4% 0%;
  color: #523223;
  line-height: 1.7rem;
  padding: 0% 20%;
}

/*
==============================
Gallery page
==============================
*/

.warning {
  text-align: center;
}

.warning strong {
  text-transform: uppercase;
  font-weight: bold;
  color: red;
  text-decoration: underline;
  font-size: 2rem;
}

.warning p {
  color: #7cad5c;
  font-size: 1.4rem;
  margin: 2% 0%;
}

.carousel {
  min-width: 60%;
  max-width: 60%;
  margin: auto;
}
.carousel-item .description {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #7cad5c;
  color: #523223;
  padding: 5%;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: none;
  transition: display 0.6s ease-in-out;
}

.carousel-item:hover .description {
  display: block;
}
.carousel-caption {
  background-color: #52322391;
  bottom: 10%;
}

.carousel-caption h5 {
  font-weight: bold;
}

.carousel-caption h5,
.carousel-caption p {
  color: #7cad5c;
}

.carousel-caption p {
  margin: 0%;
}

/*
==============================
Contact page
==============================
*/

/* contact style*/
.form-container {
  background-color: #dcdbc9;
  filter: drop-shadow(1px 2px 5px #575252);
  padding: 5% 7%;
  border-radius: 10px;
  margin: 0% auto 10%;
  width: 75%;
}

.form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 5% 0%;
}

.form-container form label {
  color: #523223;
  font-weight: bold;
}

.form-container input,
.form-container textarea {
  width: 70%;
  margin-top: 2%;
  border-color: #7cad5c;
  border-style: solid;
  border-width: 2px;
}

.form-container textarea {
  resize: none;
}

.form-container .btn-row {
  width: 50%;
}

.form-container .btn-row input {
  padding: 3%;
}

/*
==============================
Footer
==============================
*/

/* footer styles */

footer {
  background-color: #7cad5c;
  padding: 1% 0%;
}

footer p {
  margin: 0px;
}

footer .row {
  justify-content: center;
  align-items: center;
  color: #523223;
}

footer .row .footer-left {
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

footer .row .footer-left div:first-child {
  font-size: 1.2rem;
}

footer .row .footer-left div:not(:first-child) {
  margin: 0% 8%;
  font-weight: 100;
}

footer .row .footer-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

footer .row .footer-right #current-year {
  font-weight: 100;
  font-size: 1rem;
}
